<style>
.content {
  max-width: 500px;
  margin: auto;
}
img {
 padding: 25px;
 max-width: 500px;
 margin: auto;
}
h1 {
  font-family: 'Bebas Neue', cursive;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #E0F2F1;
  color:  #004D40;
  max-width: 40em;
  padding: 0 5%;
  margin: auto;
  }
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
