<style>
.content {
  max-width: 500px;
  margin: auto;
}
img {
 padding: 25px;
 max-width: 500px;
 margin: auto;
}
h1 {
  font-family: 'Bebas Neue', cursive;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #483D8B;
  color:  #FFFFFF;
  max-width: 40em;
  padding: 0 5%;
  margin: auto;
  }

a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#FFFFFF;
}

a:hover 
{
    color:#FFFFFF;
}
#grid {
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-auto-rows: minmax(14rem, auto);
  gap: 1rem;
}
