h1 {
  font-family: 'Bebas Neue', cursive;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #483D8B;
  color:  #FFFFFF;
  max-width: 40em;
  padding: 0 5%;
  margin: auto;
  }

a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#FFFFFF;
}

a:hover 
{
    color:#FFFFFF;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  
  html {
    scroll-behavior: smooth;
  }

}

h1 {
  text-align: center;
  font: 5em/1.5 montserrat, sans-serif;
}

h2 {
  font: 3em/1.5 montserrat, sans-serif;
  padding-bottom: 0em;
}

a {
  font: 1em/1.25 Montserrat, sans-serif;
  padding: 1px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

a:hover .work{
  padding: 7px;
  text-shadow:
    0 0 5px #C0C0C0,
    0 0 10px #C0C0C0,
    0 0 20px #C0C0C0,
    0 0 40px #C0C0C0,
    0 0 80px #C0C0C0;
}

h3 {
  font: 2em/1.5 montserrat, sans-serif;
  padding-bottom: 0em;
}

body {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 1rem auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  overflow: hidden;
}

nav ul {
  list-style: none url(//:0); /* Remove bullets, without removing semantics */
  padding-left: 0; /* Remove left padding for flush left appearance */
}

li {
  float: left;
}

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

li a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 1.5em/1.5 Comfortaa, sans-serif;
}

#grid {
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-auto-rows: minmax(14rem, auto);
  gap: 1rem;
}

figure {
  margin: 0;
}

figcaption {
  font: 2em/1.25 Montserrat, sans-serif;
  padding: 1rem;
}

p {
   font: 1.2em/1.5 Comfortaa, sans-serif;
}

.work {
  position: relative;
}

@media (min-width: 20em) {

  .work figcaption {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
  }

  .work:hover figcaption {
    z-index: 0;
  }

.work > img:hover {
  width: 500px;
}
  .work figcaption div {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  /* showing popup background */
a.popup:target { display: block; }

/* showing popup */
a.popup:target + div.popup { display: block; }

/* popup target anchor and background */
a.popup {
	/* background is initially hidden */
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1; /* anything, really, but bigger than other elements on the page */
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	cursor: default;
}
div.popup {
	/* popup window is initially hidden */
	display: none;
	width: 100%; /* width */
	min-height: 100%; /* height */
	position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
	z-index: 2;
	box-sizing: border-box;
        padding: 20px;
}

div.popup img{
  display: block;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin:auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 250px;
}
	
@media only screen and (min-width: 20em) {
 div.popup{
     width:100%;
  }
/* links to close popup */
div.popup > a.close {
	color: white;
	position: absolute;
	font-weight: bold;
	right: 10px;
}

div.popup > a.close.x {
	bottom: 100%;
	margin-bottom: 5px;
